.nav {
  display: flex;
  height: 7%;
  background-color: #1739B3;
  border-bottom: 2px solid black;
}


.nav__logo {
  padding-left: 5px;
  width: 15%;
  color: white
}

.nav__info {
  display: flex;
  align-items: center;
  width: 70%;
  color: white;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.nav__start {
  cursor: pointer;
  transition: .4s;
}

.nav__about {
  cursor: pointer;
  transition: .4s;
}

.nav__start:hover {
  font-weight: bold;
}

.nav__about:hover {
  font-weight: bold;
}

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
