/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts/";
@import '../node_modules/font-awesome/scss/font-awesome.scss';

li {
  background: whitesmoke;
  margin: 5px;
}

.container {
  display: grid;
  justify-content: center;
  padding: 20px;
}
