<main class="tasks">
  <app-management-tools (activeDescription)="handleDescription($event)" (beginFinding)="filterList($event)"
    [environment]="'tasks'">
  </app-management-tools>

  <ng-container *ngIf="activeDetails">
    <app-project-details (unactiveDetails)="handleDescription($event)" [active]="activeDetails" [taskData]="taskData">
    </app-project-details>
  </ng-container>
  <ul class="tasks__list">
    <ng-container *ngIf="filteredTasks.length > 0">
      <app-task *ngFor="let task of filteredTasks" [project]="task"></app-task>
    </ng-container>
    <ng-container *ngIf="!filteredTasks.length">
      <app-task *ngFor="let task of project.tasks" [project]="task" (taskClicked)="test1($event)"></app-task>
    </ng-container>
  </ul>
</main>
