<main class="tasks">
  <!-- <app-todo-task>
    </app-todo-task> -->
  <!-- <ul class="tasks__list"> -->
  <!--  TODO -->
  <app-management-tools (activeDescription)="handleDescription($event)" [environment]="'tasks'">
  </app-management-tools>

  <ng-container *ngIf="activeDetails">
    <app-project-details (unactiveDetails)="handleDescription($event)" [active]="activeDetails" [taskData]="taskData">
    </app-project-details>
  </ng-container>
  <ul class="tasks__list">
    <!-- OPERATOR RXJS ZROBIĆ TAK ABY BYŁO OBSŁUGIWAME PRZEZ tasks$ -->
    <ng-container *ngIf="tasks$ | async as projects">
      <app-task *ngFor="let task of projects" [project]="task" (taskClicked)="test1($event)"></app-task>
    </ng-container>
    <!-- dailyTasks$ -->
  </ul>
</main>
