.containerLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  height: 91vh;
  background-color: #8AA3FF;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.welcome__btn {
  width: 100%;
}

.welcome {
  width: 50%;
}

.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__pic {
  width: 60%;
  height: 250px;
  border-radius: 5%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
}

.welcome__info {
  width: 60%;

}

.loginForm__title {
  font-size: 1.6rem;
  color: #FFD970;
}

h1 {

  color: white;
  font-size: 1.5rem;
}


p {

  color: white;
  font-size: .9rem;
}
