<div class=" containerLogin">
  <div class="welcome">
    <div class="welcome__container">
      <img src="../../../assets/jogging-2343558_640.jpg" alt="" class="welcome__pic" />
      <div class="welcome__info">
        <h1>Zmotywuj się by osiągnąć swoje cele.</h1>
        <p>
          Nadszedł czas, aby dobrze się bawić podczas wykonywania swoich zadań!
          Dołącz do 10 miliardów użytkowników i popraw poprzez osiąganie celów!.
        </p>
      </div>
    </div>
  </div>
  <app-register></app-register>
  <app-login *ngIf="loginBtn">
  </app-login>
</div>
