<div class="container">
  <div *ngIf="currentUserNew">Witaj Nowe: {{ currentUserNew }} </div>
  <app-add-task></app-add-task>

  <ng-container *ngIf="projectList.length > 0; else noTask">
    <p [ngStyle]="{color: getColor()}">PROJEKTY: {{projectList.length}}</p>
    <p>Name: {{projectList[0].name}}</p>
    <p>ID: {{projectList[0].projectid}}</p>
    <p>Description: {{projectList[0].description}}</p>
    <p>Created: {{projectList[0].created}}</p>
  </ng-container>

  <ng-container *ngIf="tasksList.length > 0; else noTask">
    <ul [ngStyle]="{color: getColor()}">Zadania do wykonania: {{tasksList.length}}</ul>


    <ul><h2>Priorytety ({{tasksListPrior.length}})</h2>
      <li *ngFor = "let taskPrior of tasksListPrior">
        <b>{{taskPrior.name | transformTask: '!'}}</b>
      </li>
    </ul>

    <ul><h2>Normalne ({{tasksListNorm.length}})</h2>
      <li *ngFor = "let taskNorm of tasksListNorm">
        {{ taskNorm.name }}
      </li>
    </ul>

    <div *ngFor="let task of tasksList; let odd = odd">
      <ul *ngIf="task.priority == 1;">
        <li  appDate [date]="task.created" [ngClass]="{'odd-li': odd===true, 'last-li': tasksList.length===1 }">
          <b>{{task.name | transformTask: '!'}}</b>
          <button type="button" class="btn btn-danger" (click)="remove(task)">Usuń</button>
          <button type="button" class="btn btn-success" (click)="done(task)">Zrobione</button>
          {{' - Zadanie priorytetowe !'}}

        </li>
      </ul>
      <ul *ngIf="task.priority < 1;">

        <li appDate [date]="task.created">
            {{task.name | transformTask: '!'}}
            <button type="button" class="btn btn-danger" (click)="remove(task)">Usuń</button>
            <button type="button" class="btn btn-success" (click)="done(task)">Zrobione</button>
            {{ '!'}}
        </li>
      </ul>

    </div>

  </ng-container>
  <ng-template #noTask>Brak zadań, masz czas wolny!</ng-template>
  <button (click)="save()">Zapisz</button>

</div>
