.cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: #1739B3;
  border-radius: 5%;
  z-index: 100;
}



.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%;
  flex-direction: column;
  /* background-color: red; */
}

.login__icon {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}


.login__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40%;
}

.login__btn {
  width: 100%;
}
