<nav class="navPanel">
  <ul class="navPanel__list">
    <li class="navPanel__element"><a class="navPanel__item" routerLink="todoTask" routerLinkActive="active"><i
          class="navPanel__icon fas fa-desktop"></i></a>
    </li>
    <li class="navPanel__element"><a class="navPanel__item" routerLink="doneTask" routerLinkActive="active"><i
          class="navPanel__icon fas fa-inbox"></i></a></li>
    <li class="navPanel__element"><a class="navPanel__item" routerLink="doneTask" routerLinkActive="active"><i
          class="navPanel__icon fas fa-project-diagram"></i></a></li>
  </ul>
</nav>
