* {
  margin: 0;
  padding: 0npm;
}

.navi {
  display: flex;
  width: 100vw;
  /* ! HEIGTH MUSI BYĆ KOMPATYBILNY Z NAVIGACJA GŁOWNA TAM TERAZ HEIGHT JEST 7 */
  height: 93%;
  background-color: steelblue;
  z-index: 100;
}
