* {
  margin: 0;
  padding: 0npm;
}

.nav {
  width: 100%;
  /* ! HEIGTH MUSI BYĆ KOMPATYBILNY Z NAVIGACJA GŁOWNA TAM TERAZ HEIGHT JEST 7 */
  height: 93%;
  background-color: steelblue;
  z-index: 100;
}
