<div>
  Miejsce na dodawanie tasków:
  <form [formGroup]="addForm" (ngSubmit)="add()">
    <div formArrayName="taskName">
      <div *ngFor="let task of addForm.get('taskName')['controls']; let i = index">
        <input type="text" [formControlName]="i">
      </div>

      <button type="submit" [disabled]="addForm.invalid">Dodaj</button>
      <button type="button" (click)="addField()">Dodaj więcej</button>
      <label for="priority">Piorytet</label>
      <input type="checkbox" id="priority">
    </div>
  </form>
</div>
