<div>
  <!-- <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="todoTask" routerLinkActive="active">Zadania</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="doneTask" routerLinkActive="active">Wykonane</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!authService.user" routerLink="login" routerLinkActive="active">Zaloguj</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="authService.user" (click)="logout()">Wyloguj</a>
    </li>
  </ul> -->
  <nav class="nav">
    <div class="nav__logo">
      <h1>Habbits</h1>
    </div>
    <div class="nav__info">
      <div class="nav__container">
        <div class="nav__start">Get Started</div>
        <div class="nav__about">Learn More</div>
      </div>
    </div>
    <div class="nav__btn">
      <!-- ! -->
      <button class="btn btn-primary btn-sm" (click)="activeLogin()">Login</button>
    </div>
  </nav>
  <!--! MUSI POCHODZIC SKAD INNAD -->
  <app-login1 *ngIf="loginBtn" (unactiveLoginPopup)="activeLogin()" [loginActive]="loginBtn"></app-login1>
  <router-outlet></router-outlet>
</div>
