<form [formGroup]="form" (ngSubmit)="formSubmit()" [ngClass]="{
    input: !inputActive,
    'input--active': inputActive
  }">
  <input formControlName="projectContent" type="text" class="input__element" />
  <button type="submit" class="input__submit">></button>
</form>

<div class="tools">
  <div class="tools__element" (click)="toggleInput()">
    <i class="fas fa-plus"></i>
  </div>
  <div class="tools__element"><i class="fas fa-search"></i></div>
  <div class="tools__element"><i class="fas fa-sort-amount-up"></i></div>
</div>
