.tools {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  //   transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  //   height: 200px;

  &__element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #1739B3;
    border: 1px solid black;
  }
}

.fas {
  font-size: 1.5rem;
}
