<div class="details" [ngClass]="{'details--active': active}">
  <div class="details__header">
    <h5># Task name</h5>
    <!-- <i class="fas fa-angle-double-right"></i> -->
  </div>
  <div class="details__wraper">
    <div class="details__element">
      <label class="details__label" for="finishDate">Data zakończenia:</label>
      <input class="details__finishDate" type="date" name="finishDate" id="finishDate">
    </div>
    <div class="details__element" (click)="activeDescription()">
      <label class="details__label" for="description">Opis:</label>
      <textarea (blur)="unactiveDescription()" id="description" class="details__description"
        [disabled]="isEnabledDescription"></textarea>
    </div>
  </div>
  <button class="details__button" (click)="unactivePanel()">Zatwierdź</button>
</div>
