<div class="container">
  <form (ngSubmit)="login(formData)" #formData="ngForm">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input ngModel type="email" name="email" required class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="glyphicon glyphicon-pawn"></span>
      </div>
      <input ngModel type="password" name="password" required required class="form-control" placeholder="Hasło" aria-label="Hasło" aria-describedby="basic-addon1">
    </div>


      <button type="submit" [disabled]="formData.invalid" class="btn btn-secondary btn-lg" style="margin-right: 15px;">Zaloguj</button>
      <button type="button" [disabled]="formData.invalid" (click)="signup(formData)" class="btn btn-primary btn-lg">Rejestracja</button>

  </form>
</div>
